*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* header start */
.main{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top{
  text-align: center;
   height: 40px;
    min-width: 100vw;
    border: 1px solid rgb(146, 143, 143);
    font-size: smaller;
    position: fixed;
    top: 0;
background-color: white;
}

.top p,
button {
    display: inline-block;
    margin-top: 10px;

}

.top button {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 20px;
    width: 200px; 
    background-color: white; 
    border: none;
    border-radius: 5px;

}

nav {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(146, 143, 143);
    width: 100%;
    height: 60px;
    position: fixed;
    top: 40px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
nav .tabs {
    display: flex;
    gap: 40px;
}

nav .logo img {
    height: 100px;
}

nav select option {
    background-color: black;
    color: white;
    font-family: "Quicksand", sans-serif;
}

nav select {

    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    width: 0;
}


nav .search button {
width: 70px;
height: 30px;
border-radius: 15px;
background-color: white;
border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
margin-right: 100px;

}

nav .search button:hover{
  background-color: rgb(120, 120, 243);
  transition:all 0.2sec ease-in-out;
}

nav .search .btn2{
display: inline-block;
font-size: 18px;
}

/* header end */

/* content start */

.wrapper{
  display: flex;
   padding-top:100px;
   min-height: 100px;
    width: 100%;
     flex-direction: row;
    justify-content: space-between; 
}

.right .right-left {
    border-left: 3px solid #a6a6a6; 
      height: 350px; 
        width: 90%;       
     margin: 20px auto;
    }  

.left{
  width: 250px;
  flex-shrink: 0;

}
.right{
  width: 250px;
  flex-shrink:0;
  
}
.content{
 overflow-y: auto;
    overflow-x: hidden;
  
}

 .left{
  overflow-y: auto;
    overflow-x: hidden;
 
}

.left h1 {
margin-top: 5px;
font-family: sans-serif;
}
.left details {
  margin-left: -10px;
}
.left details {
  border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.left details i,p {
  margin-left: 10px;
font-size: 15px;
}
.left summary .menu{
  font-size: 20px;
}
details a{
  font-size: 20px;
 padding-left: 50px;
 color: black;
 text-decoration: none;
 display: block;
}
details a:hover {
text-decoration: underline;
color: rgb(1, 65, 105);
}
.left{
min-height: 15px;
overflow: scroll;

}

.right a{
  display: block;
margin-left: 40px;
margin-top: 13px;
font-size: 18px;
color: black;
 text-decoration: none;
}

.right a:hover {
text-decoration: underline;
color: rgb(1, 65, 105);
}

.right #h{
  margin-left:10px ;
margin-top: 5px;
font-family: sans-serif;
} 

.content p {
    font-size: 19px;
 font-family: sans-serif;
 margin-top: 15px;
 margin-left: 28px;
 word-spacing: 3px;
color: #423d3d;
line-height: 27px;
}
.content h1{
  font-size: 40px;
  margin-left: 20px;
}
.content a{
  color: #3d53b6;
}

.content a:hover{
  text-decoration: none;
  color: rgb(72, 72, 253);
}

#try{
   margin-left: 40px;
   margin-top: 17px;
}
.content .code-div {
    background-color: rgb(205, 196, 196);
    width: 90%;
    height: 300px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-y: auto;

}
.content .code-div h4 {
    font-size: large;
    font-family: sans-serif;
}

.content .code-div ol {
    list-style: numeric;
    margin-left: 30px;
    line-height: 35px;
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: bold;
}

.content #att{
  font-size: 40px;
  margin-left: 30px;
}

.content .attribute a{
  background-color: #e0dcdc;
}

.content ul li{
  font-size: 19px;
  margin-top: 10px;
  margin-left: 30px;
  font-family: sans-serif;
  color: #423d3d;
  line-height:27px ;
}

.content .sec{
  height: 120px;
   background-color: #e3e3ef;
}
.content .sec button,
.content .sec h4 {
    display: inline-block;
}

.content .sec button {
float: right;
margin-top: -9px;
height:25px ;
width: 90px;
border-radius: 5px;
border: none;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cent a{
    background-color: #e0dcdc;
}

.content .note{
background-color: rgb(219, 227, 254);
max-width: 90%;
height: 150px;
    margin: 20px auto;
    padding: 9px;
    border-left: 2px solid rgb(0, 51, 255);
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    margin-left: 40px;
    line-height: 22px;
}

.content .note b{
  font-size: 20px;
}

.content .gray{
  background-color: #e0dcdc;
  width: 100px;
    height: 25px;
     border-radius: 4px;
    text-align: center;
    letter-spacing: 2px;
}

.content .underline{
margin-top: 20px;
margin-left: 17px;
font-weight: 100;
font-size: 34px;
}

.content .acc .bold{
  font-weight: 300;
  font-family: serif;
font-size: 9px;
color: black;
}

.content .red-box{
margin: 20px auto;
font-size: large;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    margin-left: 20px;
    width: 700px;
}

.content .red-box .red {
    background-color: rgb(254, 125, 125);
    border-radius: 4px;
}

.content .red-box .red span {
    margin-left: 100px;
    color: rgb(141, 2, 2);
}

.content table{
  /* font-family: sans-serif; */
  font-family: "Montserrat", sans-serif;
  border: 1px solid rgb(8, 8, 8);
   border-collapse: collapse;
}

.content table .even td {
    background-color: gainsboro;
}

.content td{
   border: 1px solid rgb(8, 8, 8);
   padding: 27px;
}

.content table td{
  font-size: 17px;
  line-height: 21px;
}

/* content end */

   /* footer start */

footer .foot .foot1 img {
     width: 120px;  
  margin-left: 30px;
}

.foot1 p{
   padding-left: 20px;
  margin-top: -14px;
  font-size: 20px;
      font-size: 23px; 
font-family: sans-serif;
color: #423d3d;
}

footer .foot .foot1 .icons{
    padding-left: 22px;
    font-size: 30px;
    margin-top: 20px;
}

.fixed .foot2 h2 {
margin-left: 450px;
margin-top: -150px;
font-family: sans-serif;
font-weight: 10;
 color: #201f1f;
}

.fixed .foot2 a {
  margin-left: 450px;
  padding: 10px;
 padding-top: 10px;
  display: block;
  color: #6a6868;
  font-size: 18px;
font-family: sans-serif;
}

.fixed .foot2 a:hover{
  color: #423d3d;
}

.fixed .foot3 h2 {
margin-left: 660px;
margin-top: -270px;
font-family: sans-serif;
font-weight: 10;
 color: #201f1f;
}

.fixed .foot3 a {
  margin-left: 660px;
  padding: 10px;
 padding-top: 10px;
  display: block;
  color: #6a6868;
  font-size: 17px;
font-family: sans-serif;
word-spacing: 1px;
}

.fixed .foot3 a:hover{
  color: #423d3d;
}


.fixed .foot4 h2 {
margin-left: 960px;
margin-top: -240px;
font-family: sans-serif;
font-weight: 10;
 color: #201f1f;
}

.fixed .foot4 a {
  margin-left: 960px;
  padding: 10px;
 padding-top: 10px;
  display: block;
  color: #6a6868;
  font-size: 18px;
font-family: sans-serif;
}

.fixed .foot4 a:hover{
  color: #423d3d;
}


.fixed{
  border-bottom: 1px solid;
  padding: 30px;
}

/* footer end */


@media(max-width:774px){
  .right{
    display: none;
  }
}

@media(max-width:476px){
  .left{
    display: none;
  }
}

@media(max-width:495px){
  .top button {
    display: none;
  }
}

@media(max-width:700px){
  nav .tabs {
    display: none;
  }
}

@media(max-width:829px){
  .fixed {
 border: none;
  }
}

@media(max-width:600px){
  .fixed .foot2 h2 {
margin-left: 450px; 
}
  .fixed .foot2 a{
   margin-top: 10px;
   padding: 0px;  
  }
.fixed .foot3 h2{
margin-left: 560px;
margin-top: -320px;
}
.fixed .foot3 a {
  margin-left: 600px; 
    margin-top: 10px;
   padding: 0px;
   display: inline-block;
}
}
@media(max-width:679px){
.fixed .foot4 h2 {
margin-left: 0px;
margin-top: -90px;
}
.fixed .foot4 a {
  margin-left: 0px;
}
}

@media(max-width:657px){
  .fixed .foot3 h2{
margin-left: 230px;
margin-top: -100px;
}
.fixed .foot3 a {
  margin-left: 240px; 
    margin-top: 20px;
   padding: 0px;
   display: inline-block;
}
.fixed .foot4 h2 {
margin-left: 0px;
margin-top: -220px;
}
.fixed .foot4 a {
  margin-left: 0px;
}
}
@media(max-width:424px){
   .fixed .foot2 h2 {
margin-left: 0px; 
 margin-top: 50px;
}
  .fixed .foot2 a{
    margin-left: 0px;
  }
   .fixed .foot3 h2{
margin-left: 6px;
margin-top: 50px;
}
.fixed .foot3 a {
  margin-left: -2px; 
    margin-top: 20px;
   padding: 0px;
   display: inline-block;
}
.fixed .foot4 h2 {
margin-left: 0px;
margin-top: 90px;
}
.fixed .foot4 a {
  margin-left: 0px;
}
}